.animation{
    width: 500px;
    height: 150px;
    background-color: rgba(0, 255, 89, 0.256);
    position:absolute;
    animation: myfirst 2s linear 2s infinite alternate;
    
    border-radius: 40px;
  }
  
  @keyframes myfirst {
    0%   {background-color:rgba(255, 0, 0, 0.253); left:0px; top:0px;}
    
    24%  {background-image: url(assets/13.jpg);}
    24%  {background-image: url(assets/6.jpg);}

    50%  {background-color:rgba(0, 0, 255, 0.269); left:200px; top:200px;}
    50%  {background-color:rgba(0, 0, 255, 0.217); left:200px; top:200px;}
    24%  {background-image: url(assets/6.jpg);}
    24%  {background-image: url(assets/6.jpg);}
  }
  
  .animation2{
    width: 100px;
    height: 500px;
    background-color: rgba(251, 255, 0, 0.833);
    font-weight: bold;
    position: relative;
    animation: mymove 2s infinite;
    
    border-radius: 30px;
  }
  

  @keyframes mymove {
   
    from {left: 0px;}
    to {left: 300px;}
  }

h2 { 
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size:  3vw;

}
.header{
    padding-top: 50px;
}

.top-banner {
    padding-top: 50px;
    background-color: black;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 70px;
    border-radius: 20px;
    display: flex;

}

.top-banner-text {
    border: 2px solid red;

}

.top-small-text {

    padding-bottom: 50px;
    font-size: 20px;
    color: rgb(209, 213, 217);
    padding-top: 0rem;
}


.banner-image {
    padding-left: 150px;
    padding-top: 7%;
    
    width: 600px;
    height: 600px;
}

.watch-button {
    background-color: rgb(255, 0, 38);
    width: 187px;
    height: 56px;
    border-radius: 5px;
    font-size: larger;
    color: rgb(254, 254, 254);
    margin-bottom: 80px;
}

/* top banner */
.container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left:40px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    
}

.container img{
    width: 260px;
}
.parent{
    position: absolute;
    display: flex;
    margin-left: 80px;
    padding-left: 10px;
    
    width: 230px;
   height: 240px; 
   background-color: black;
   border-radius: 10px;
   
}
.left-box{
    padding-top: 30px;
    padding-left: 13px ;
    border-radius: 10px;
   
}
.box-text{
   font-weight: bolder;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
.upcomming{
    padding-left: 00.1px;
   padding-bottom: 40px;

}
.blog{
    background-color: red;
    
}

.caption{
    padding-left: 15px;
    padding-top: 2vw;
    background-color: rgba(219, 232, 232, 0.192);
    border-left: 1px solid rgba(95, 93, 93, 0.162);
    border-bottom: 1px solid rgba(95, 93, 93, 0.162);
    border-right: 1px solid rgba(95, 93, 93, 0.162);
    

    border-radius: 5px;
    
}
.middle{
    padding-top: 70px;
}
.icon{
    display: flex;
    padding-left: 5px;
    border-radius: 5px;
    
    
}
#msg{
    padding-left: 20px;
}
#transfer{
    width: 100px;
height: 32px;

}
.bold{
    font-weight: bolder;
}
.footer{
    margin-top: 50px;
    width: 1260px;
    height: 350px;
background-color: rgb(0, 0, 0);
padding-bottom: 60px;
}
.last{
 padding-top: 1200px;  

}

body{
    margin: 0;
}

.goal{
    color: aliceblue;
    padding-top: 30px;
    padding-left: 45%;
}
.hr{
    padding-left: 80px;
    padding-right: 80px;
   
}
.contact{
    color: aliceblue;
    display: flex;
    padding-left: 10%;
   justify-content: space-around;
   
}

.telegram{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: beige;
    align-items: center;
    flex-direction: row;
    
    
    
   
}
.fa-facebook{
   color: rgb(32, 21, 234);
   font-size: 40px;
  padding: 40px;
   
}
.fa-youtube{
    font-size: 40px;
  color: rgb(255, 23, 23);
  padding: 40px;
}

.fa-telegram{
    font-size: 40px;
color: rgb(35, 210, 249);
padding: 40px;
}

/*----- media query phone ----- */
@media screen and ( max-width: 576px){
.container{
 grid-template-columns: repeat(1,1fr);

}
.top-banner{
    display:table-caption
}
.banner-image{
    padding-top: 20px;
    padding-left: 2px;
}
.animation2{
    display: none;
}
.left-box{

    padding-left: 80px;
}
.parent{
    background-color: rgba(240, 248, 255, 0);
    display:list-item;
    padding-left: 40%;
}
.footer{
    margin-top: 50px;
    width: 800px;
    height: 350px;
background-color: rgb(0, 0, 0);
padding-bottom: 60px;
}
.last{
 padding-top: 3800px;  

}
.contact{
   
  display:list-item; 
}

}
    